.container {
  background-color: #e5f3fe;
  font-family: "Roboto", sans-serif;
  color: royalblue;
  padding: 50px 50px;
  margin: 20px 20px;
}
.weather-app {
  max-width: 700px;
  margin: 20px auto;
  padding: 40px 35px;
  display: block;
  border-radius: 50px;
  background: #e5f3fe;
  box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
}

.search-form-input {
  background-color: #e5f3fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 10px 12px;
  box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
  margin-bottom: 15px;
}
main {
  padding: 20px 0;
}

.search-form-button {
  background-color: #e5f3fe;
  color: #979c9f;
  border: none;
  border-radius: 6px;
  padding: 10px 12px;
  box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
  margin-left: 10px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 13px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 70px;
  height: 70px;
}
.weather-app-temperature {
  font-size: 70px;
  line-height: 88px;
}
.weather-app-unit {
  margin-top: 10px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1px;
}
.weather-forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #4169e1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 7px;
}
footer {
  font-size: 11px;
  text-align: center;
  padding: 20px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
}
